.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    margin-right: 5px;
}

.form-row input,
.form-row label,
.form-row button {
    margin: 5px;
}

.submitButton {
    padding: 10px 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}